In [238]:
import operator
import itertools

import pandas
import numpy as np

from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score

from sklearn.grid_search import GridSearchCV

from sklearn.feature_extraction.text import TfidfVectorizer

%matplotlib inline
import matplotlib.pyplot as plt


from sklearn import datasets

newsgroups = datasets.fetch_20newsgroups(
                    subset='all', 
                    categories=['alt.atheism', 'sci.space']
             )


grid = {'C': np.power(10.0, np.arange(-5, 5))}

len(newsgroups.data) == len(newsgroups.target), len(newsgroups.data[0])

(True, 1432)

In [239]:
newsgroups.data[1]

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(newsgroups.data)
X[1]

<1x28382 sparse matrix of type '<type 'numpy.float64'>'
	with 409 stored elements in Compressed Sparse Row format>

In [240]:
cv = KFold(X.shape[0], n_folds=5, shuffle=True, random_state=241)
clf = SVC(kernel='linear', random_state=241)
gs = GridSearchCV(clf, grid, scoring='accuracy', cv=cv)

gs.fit(X, newsgroups.target)

GridSearchCV(cv=sklearn.cross_validation.KFold(n=1786, n_folds=5, shuffle=True, random_state=241),
       error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=241, shrinking=True,
  tol=0.001, verbose=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'C': array([  1.00000e-05,   1.00000e-04,   1.00000e-03,   1.00000e-02,
         1.00000e-01,   1.00000e+00,   1.00000e+01,   1.00000e+02,
         1.00000e+03,   1.00000e+04])},
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=0)

In [241]:
#  mean_validation_score — оценка качества по кросс-валидации
#  parameters — значения параметров
df = pandas.DataFrame([(a.mean_validation_score, a.parameters) for a in gs.grid_scores_])

np.array(df[0]).argmax(), max(df[0]), df.iloc[np.array(df[0]).argmax()]

(5, 0.99328107502799556, 0      0.9932811
 1    {u'C': 1.0}
 Name: 5, dtype: object)

In [242]:
df.iloc[np.array(df[0]).argmax()][1]['C']

1.0

In [243]:
clf2 = SVC(kernel='linear', random_state=241, C=df.iloc[np.array(df[0]).argmax()][1]['C'])
clf2.fit(X, newsgroups.target)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=241, shrinking=True,
  tol=0.001, verbose=False)

In [244]:
coefx = clf2.coef_.todense()
coefx.shape

(1, 28382)

In [245]:
coefx = pandas.DataFrame(coefx)
coefx.shape

(1, 28382)

In [246]:
ftrs = vectorizer.get_feature_names()
coefx.shape[1] == len(ftrs)
coefx = coefx.T
coefx

           0
0   0.292581
1  -0.123148
2   0.000000
3   0.000000
4   0.000000
5   0.012755
6   0.000000
7   0.003358
8  -0.061856
9  -0.027968
10  0.000000
11  0.000000
12  0.000000
13  0.000000
14  0.000000
15  0.000000
16  0.000000
17  0.000000
18  0.000000
19  0.000000
20  0.000000
21  0.000000
22  0.000000
23  0.081121
24  0.000000
25  0.000000
26  0.000000
27  0.000000
28  0.000000
29  0.000000
30  0.000000
31 -0.083493
32  0.014172
33  0.000000
34 -0.005046
35  0.011259
36  0.035675
37  0.003096
38  0.000000
39  0.000000
40  0.000000
41  0.013404
42  0.000000
43  0.000000
44  0.000000
45  0.000000
46  0.000000
47  0.049930
48  0.000000
49  0.024836
50 -0.006936
51  0.002433
52  0.000000
53  0.094618
54  0.000000
55 -0.011178
56  0.000000
57 -0.084764
58  0.000000
59  0.000000
         ...

[28382 rows x 1 columns]

In [247]:
f = []
for i in coefx.tail(10).index:
    f.append(ftrs[i])
    
f.sort()
f

[u'zus',
 u'zvezdny',
 u'zvonko',
 u'zwaartepunten',
 u'zwak',
 u'zwakke',
 u'zware',
 u'zwarte',
 u'zwork',
 u'zyklon']

In [248]:
with open("ans.txt", 'w') as a:
    a.write(",".join(f))

In [249]:
np.sort(coefx.iloc[0])[-10:]

array([ 0.29258057])

In [250]:
coefx_dict = itertools.izip(list(xrange(len(coefx)-1)), coefx))
coefx_dict

SyntaxError: invalid syntax (<ipython-input-250-ae3f3896755f>, line 1)

In [ ]:
np.sort(coefx)